body {
    box-sizing: border-box;
}

.masthead {
    background-image: url(../media/HomePage/MainHeaderIMG.jpg);
    background-size: cover;
    min-height: 90vh;
    position: relative;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
}

.contenido-header-navegacion .navegacion {
    background-color: pink;
    padding-bottom: 0rem;
    overflow: hidden;
}

.navbar-collapse .navbar-nav li a {
    color: black;
}

.header-logo-enlace .logo-text {
    color: black;
}

@media (max-width: 768px) {
    .masthead {
        min-height: 70vh;
    }
    .header-title {
        font-size: calc(1.525rem + 3.3vw);
    }
    .masthead .navbar {
        padding-bottom: 0rem;
        padding-top: 0rem;
    }
    .nav-item .nav-link:hover {
        text-decoration: solid black underline 0.1rem;
    }
    .nav-item .enlace-red-social {
        margin-right: 1rem;
    }
}

@media (min-width: 576px) {
    .lista-nav {
        text-align: center;
        align-items: center;
    }
}

@media (max-width: 575px) {
    .contenido-header-navegacion .navbar .menu-flex {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .logo-text {
        display: none;
    }
    .navbar-toggler {
        margin-right: 32%;
    }
}

@media (min-width: 768px) {
    .navegacion {
        background-color: rgba(0, 0, 0,.1);
    }
    .logo-text {
        color: white;
    }
    .navbar-nav li a {
        color: white;
    }
    .nav-item .nav-link:hover {
        color: white;
        text-decoration: solid white underline 0.1rem;
    }
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
        color: white !important; 
    }
    
    .navbar-nav .nav-item .nav-link:focus {
        color: white;
    }
}

.header-logo {
    max-width: 10vh;
}

.logo-text {
    font-weight: bold;
}

.lista-nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.nav-item .activo {
    font-weight: bold;
}

.dropdown-menu[data-bs-popper] {
    top: 5% !important; 
    left: 0;
    margin-top: var(--bs-dropdown-spacer);
}

@keyframes cambiar-color-seleccion-menu-colapsable {
    from {color: grey;}
    to {color:black;}
}

.dropdown-menu li .dropdown-item {
    color: grey;
}

.dropdown-menu li .dropdown-item:hover {
    animation-name: cambiar-color-seleccion-menu-colapsable;
    animation-duration: .3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.separacion-menu {
    color: black;
}

.enlace-red-social {
    text-decoration: none;
    font-style: italic;
}

/** Diseño Show Up de Productos **/

.nuestras-creaciones-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
}

.nuestras-creaciones-title {
    font-size: calc(2.6vw + 0.6rem);
    letter-spacing: 0.3rem;
    text-shadow: 4px 3px 7px rgba(0,0,0,0.44);
}

.nuestras-creaciones-row .img-container-nuestras-creaciones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
}

.img-nuestras-creaciones {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    object-fit: cover;
}

.nuestras-creaciones-main-container .nuestras-creaciones-row {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.title-product-container {
    width: 100%;
    font-weight: bold;
    font-size: calc(1.3vw + 0.3rem);
    padding: 1rem;
    background-color: yellow;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
}

.img-and-title-container-nuestras-creaciones {
    width: 20vw;
    height: 20vw;
    text-align: center;
    box-shadow: 10px 10px 85px -36px rgba(0,0,0,0.75);
}

.parragraph-nellas-cake-container {
    width: 25vw;
    text-align: center;
    font-weight: bolder;
    margin-top: 5.9rem;
}

.parragraph-nuestras-creaciones {
    margin-bottom: 0rem;
}

@media (max-width: 768px) {
    .nuestras-creaciones-title-container {
        padding-bottom: 2rem;
    }
    .nuestras-creaciones-title {
        font-size: calc(6.6vw + 0.6rem);
    }
    .img-and-title-container-nuestras-creaciones {
        width: 40vw;
        height: 40vw;
        margin-top: 3.9rem;
    }
    .parragraph-nellas-cake-container {
        width: 45vw;
    }
    .parragraph-nuestras-creaciones {
        font-size: calc(1.3vw + 0.7rem);
    }
    .title-product-container {
        font-size: calc(1.3vw + 0.7rem);
    }
}


/**Footer**/

.footer-main {
    width: 100%;
    background-color: black;
    color: white;
    overflow: hidden;
    padding-left: 0rem !important; 
    padding-right: 0rem !important;
}

.titulo-nellas-cake {
    margin-bottom: 1.6rem;
}

.nellas-info-list {
    list-style-type: none;
    padding-left: 0rem;
    font-size: 1.2rem;
}

.nellas-info-list li {
    margin-bottom: .7rem;
}

.footer-main-container .nellas-cake-container {
    max-width: 40vw;
    margin-top: 1.8rem;
    margin-left: 1.8rem;
}

.extra-info {
    max-width: 40vw;
    margin-bottom: 0rem;
    margin-left: 1.8rem;
    font-size: 1rem;
    
}

.extra-info-link {
    color: white;
}

@media (min-width:768px) {
    .extra-info-container {
        display: flex;
        justify-content: flex-end;
    }

    .extra-info {
        margin-top: 1.8rem;
    }
}

@media (max-width: 768px) {
    .extra-info {
        margin-top: .7rem;
    }
}

.footer-main-container {
    margin-bottom: 1rem;
}

.copyright-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: brown;
    letter-spacing: 0.2rem;
}